:root {
  --third-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --background-body-section: #e5e5e5;
  --background-team-section: #f5f4fa;
  --background-hero-section: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: rgb(255, 255, 255, 0.1);
  --timing-fn: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
}

box* {
  margin: 0;
}

.contact,
.footer-contact {
  font-style: normal;
}

body {
  font-family: var(--main-font);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 60px;
}

.section-title {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title--appeal {
  color: var(--second-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .title {
    text-align: center;
  }
}

.logo-name {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo-name {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-name {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.logo-name__first {
  color: var(--accent-color);
}

.logo-name__second {
  color: black;
}

.logo-name--accent {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  color: var(--second-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--accent-color);
}

.modal-btn--form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list--cards {
  padding-bottom: 24px;
}

.social {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social {
    margin: 0;
    padding-top: 7px;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--timing-fn);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--second-color);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--second-color);
  transition: background-color var(--timing-fn);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.header-page {
  position: relative;
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.header-page__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-page__container {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.main-nav__link {
  position: relative;
  transition: color var(--timing-fn);
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.main-nav__link--current {
  color: var(--accent-color);
}

.main-nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: 9px;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 320px) {
  .main-nav__link--current::after {
    content: none;
  }
}

.main-nav__link .main-nav__link:hover,
.main-nav__link .contact__link:hover,
.main-nav__link .main-nav__link:focus {
  color: var(--accent-color);
}

.contact {
  margin-right: auto;
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--timing-fn);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button--icon {
  display: block;
  transition: fill var(--timing-fn);
}

.menu-button:hover .menu-button--icon,
.menu-button:focus .menu-button--icon {
  fill: var(--accent-color);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.main-nav.is-open {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-nav {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--second-color);
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ececec;
    transition: transform var(--timing-fn);
  }
  .main-nav.is-open {
    display: block;
  }
  .main-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .main-nav__list {
    margin-bottom: 60px;
    padding: 0px 0px 0px 40px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-page__container {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .main-nav {
    display: flex;
  }
  .main-nav__list {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  .main-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .main-nav__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
  }
  .contact__link {
    font-size: 12px;
    line-height: 1.67;
  }
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__icon--envelope {
    width: 14px;
    height: 10px;
  }
  .contact__icon--smartphone {
    height: 14px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-page__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .main-nav__list {
    margin-right: 305px;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
  .main-nav__link:hover,
  .contact__link:hover,
  .main-nav__link:focus {
    color: var(--accent-color);
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.button-list__modal-btn {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color var(--timing-fn), color var(--timing-fn), box-shadow var(--timing-fn);
}

.button-list__modal-btn:hover, .button-list__modal-btn:focus {
  color: var(--second-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list__item:not(:last-child) {
  display: block;
  margin-right: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .button-list__item:nth-child(-n + 3) {
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.project-list {
  display: block;
}

.project-list__link {
  display: block;
  transition: box-shadow var(--timing-fn);
}

.project-list__link:hover, .project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .project-list__item:not(:last-child) {
    margin-bottom: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .project-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.product {
  position: relative;
  overflow: hidden;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  color: #212121;
}

.product__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.product__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product__text {
  display: block;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.product__content {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding: 63px 24px;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--timing-fn);
  transform: translateY(100%);
}

.project-list__link:hover .product__content {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product__text--tablet {
    padding-bottom: 56px;
  }
}

.footer {
  text-align: center;
  background-color: var(--background-hero-section);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  margin-bottom: 60px;
}

.footer__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  transition: color var(--timing-fn);
}

.footer__link:hover {
  color: var(--accent-color);
}

.footer__item:not(:last-child) {
  display: block;
  margin-bottom: 8px;
}

.footer--social__link {
  background-color: var(--footer-background-color);
  transition: background-color var(--timing-fn);
}

.footer--social__icon {
  fill: var(--second-color);
}

.geolocation {
  color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .footer--tablet {
    display: flex;
    justify-content: space-around;
  }
  .form__label {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer__section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer--tablet {
    align-items: baseline;
  }
  .footer__container {
    margin-right: 70px;
  }
  .footer__list {
    margin-bottom: 0;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.form__input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  transition: border-color var(--timing-fn);
}

.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

@media screen and (min-width: 768px) {
  .form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form__label {
    display: flex;
  }
  .form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=portfolio.css.map */