:root {
  --third-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --background-body-section: #e5e5e5;
  --background-team-section: #f5f4fa;
  --background-hero-section: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: rgb(255, 255, 255, 0.1);
  --timing-fn: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-letter-spacing: 0.03em;
}

